@use '../globals';

.songDetail {
    display: grid;
    grid-template-columns: auto 1fr 32px;
    gap: var(--spacing-lg);
    border: 1px solid var(--grey-lighter);
    border-radius: var(--radius);
    padding: var(--spacing-lg);

    @media screen and (max-width: globals.$screen-mobile-max) {
        grid-template-columns: auto;
    }

    button.playpause-button {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    &-songTitle {
        font-size: var(--font-size-xl);
        margin-bottom: 0;
    }

    &-username {
        font-size: var(--font-size-xl);
    }

    &-lyrics {
        white-space: pre-line;
        margin-top: var(--spacing-lg);
    }

    &-theme {
        color: var(--grey-base);
        margin-top: var(--spacing-sm);
    }
}