.audioPlayer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background);
    border-top: 1px solid var(--black);
    padding: var(--spacing-base);
}

button.audioPlayer-playPauseButton {
    width: 40px;
    height: 40px;
    padding: 0.25rem;
    background: var(--black);
    color: var(--white);

    &:hover {
        background: var(--grey-darkest);
    }
}