@use '../globals';

h1.navbar-title {
    font-size: var(--font-size-xl);
    margin-bottom: 0;
}

@media screen and (max-width: globals.$screen-mobile-max) {
    h1.navbar-title {
        font-size: var(--font-size-sm);
    }
}

button.navbar-userButton {
    padding: 0;
    border-radius: 50%;
    outline-offset: 3px;
}