@use '../globals';

$button-size: 40px;

.songItem {
    padding: var(--spacing-base);
    border-bottom: 1px solid var(--grey-lightest);
    position: relative;
    font-size: var(--font-size-sm);

    &:hover {
        background: rgba($color: #000000, $alpha: 0.03);
        cursor: pointer;
    }

    &:hover button.playpause-button {
        outline: 2px solid var(--black);
        outline-offset: 2px;
    }

    &-titleGroup {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        align-items: baseline;
    }

    &-mainContent {
        display: grid;
        grid-template-columns: $button-size 1fr 150px;
        gap: var(--spacing-base);
        position: relative;

        @media screen and (max-width: globals.$screen-mobile-max) {
            align-items: start;
            grid-template-columns: $button-size 1fr auto;
        }
    }

    &-mainDetails {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        align-items: center;
        gap: var(--spacing-base);

        @media screen and (max-width: globals.$screen-mobile-max) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }
    }


    &-tableHeader {
        display: grid;
        grid-template-columns: $button-size 2fr 1fr 1fr 150px;
        align-items: center;
        padding: var(--spacing-base);
        border-bottom: 1px solid var(--grey-lightest);
        position: relative;
        font-size: var(--font-size-sm);

        &>span:first-child {
            grid-column-start: 2;
        }
    }

    &-tableHeader {
        @media screen and (max-width: globals.$screen-mobile-max) {
            display: none;
        }
    }

    &-songTitle {
        margin-bottom: 0;
        font-weight: 500;
        display: inline;
    }

    &-username {
        display: inline;
    }

    &-themeLink {
        font-size: var(--font-size-sm);
    }

    &-theme {}

    &-lyricsButton {
        display: flex;
        gap: var(--spacing-xs);
        align-items: center;
        margin-top: var(--spacing-xs);
    }

    &-actions {
        display: grid;
        grid-template-columns: 1fr 50px;
        gap: var(--spacing-base);
        justify-content: end;

        @media screen and (max-width: globals.$screen-mobile-max) {
            display: flex;
            gap: var(--spacing-sm);
        }
    }

    &-playpause {}

    &-skeleton {
        display: grid;
        gap: var(--spacing-base);
        grid-template-columns: $button-size 2fr 1fr 1fr 150px;
        align-items: center;
        padding: var(--spacing-base);
    }

    // &-commentsContainer {
    //     margin-bottom: var(--spacing-xs);
    //     display: flex;
    //     flex-direction: column;
    //     gap: var(--spacing-xs);
    //     font-size: var(--font-size-sm);
    // }

    // &-commentSection {
    //     display: flex;
    //     flex-direction: column;
    //     gap: var(--spacing-xs);
    //     align-items: start;
    // }

    button.playpause-button {
        width: $button-size;
        height: $button-size;
        border-radius: 50px;
        background-color: var(--black);
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;

        &:focus,
        &:focus-visible {
            outline-offset: 2px;
            background: var(--grey-darkest);
        }

        &-paused {
            background: white;
        }
    }
}