@import '../globals.scss';

$button-size: 50px;

.trackCard {
    padding: var(--spacing-base);
    border-bottom: 1px solid var(--grey-lightest);
    position: relative;
    font-size: var(--font-size-sm);

    &:hover {
        background: var(--grey-lightest);
        cursor: pointer;
    }

    &-titleGroup {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        align-items: baseline;
    }

    &-mainContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-base);
        position: relative;

        @media screen and (min-width: $screen-tablet-min) {
            display: grid;
            grid-template-columns: $button-size 2fr 1fr 1fr 100px 50px;
            align-items: center;
        }
    }

    &-songTitle {
        margin-bottom: 0;
        font-weight: 500;
        display: inline;
    }

    &-username {
        display: inline;
    }

    &-lyricsButton {
        display: flex;
        gap: var(--spacing-xs);
        align-items: center;
        margin-top: var(--spacing-xs);
    }

    &-actions {
        display: flex;
        justify-content: end;
    }

    &-commentsContainer {
        margin-bottom: var(--spacing-xs);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        font-size: var(--font-size-sm);
    }

    &-commentSection {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        align-items: start;
    }

    button.playpause-button {
        width: $button-size;
        height: $button-size;
        border-radius: 50px;
        background-color: var(--black);
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: var(--grey-darkest);
        }

        &:focus,
        &:focus-visible {
            outline-offset: 2px;
            background: var(--grey-darkest);
        }

        &-paused {
            background: white;
        }
    }
}