.trackCard {
    box-shadow: var(--shadow-sm);
    border-radius: 8px !important;
}

.trackCard-lyricsButton {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
    margin-top: var(--spacing-xs);
}

.trackCard-lyricsButton,
.trackCard-addCommentButton {
    font-size: var(--font-size-xs);
    color: var(--grey-dark);

    &:hover {
        text-decoration: underline;
    }
}

.trackCard-lyricsButton:hover {
    text-decoration: underline;
}

.trackCard-comment {
    display: inline-block;
    background: var(--grey-lightest);
    padding: 0.25rem 1rem;
    border-radius: 2px 100px 100px 100px;
    margin-right: 0.5rem;
}

div:has(>.trackCard-comment) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    align-items: start;
}