.avatar-root {
  position: relative;
  display: flex;
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background: var(--grey-lightest);
  align-items: center;
  justify-content: center;
}

.avatar-fallback {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1rem;
  color: var(--black);
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-decoration: none !important;
}

a:has(.avatar-root):hover {
  text-decoration: none;
}

/* Avatar size classes */
.avatar-size-1 {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;

  & .avatar-fallback {
    font-size: var(--font-size-sm);
  }
}
.avatar-size-2 {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
}
.avatar-size-3 {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
}
.avatar-size-4 {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
}
.avatar-size-5 {
  width: 56px;
  height: 56px;
  min-width: 56px;
  min-height: 56px;
}
.avatar-size-6 {
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
}
.avatar-size-7 {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
}
.avatar-size-8 {
  width: 96px;
  height: 96px;
  min-width: 96px;
  min-height: 96px;
}
