.avatar-root {
  position: relative;
  display: flex;
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background: var(--grey-lightest);
  align-items: center;
  justify-content: center;
}

.avatar-fallback {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1rem;
  color: var(--black);
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
