@use '../../globals';

.button {
  border-radius: var(--radius);
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;

  &:hover {
    text-decoration: none;
  }

  &-sm {
    font-size: var(--font-size-sm);
    height: 2.25rem;
    padding: 0.25rem 0.75rem;
  }


  &-icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &-iconOnMobile {
    @media screen and (max-width: globals.$screen-mobile-max) {
      height: 2.25rem;
      width: 2.25rem;
    }
  }

  &-xs {
    font-size: var(--font-size-xs);
    height: 1.75rem;
    padding: 0.125rem 0.5rem;
  }

}

.button-default {
  background-color: var(--primary);
  color: var(--primary-foreground);
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  border: none;

  &:hover {
    background-color: var(--primary-light);
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--primary-light);
    outline-offset: 2px;
  }
}

.button-outline {
  border: 1px solid var(--border);
  background-color: transparent;
  color: var(--grey-dark);
  padding: 8px 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--grey-lightest);
  }
}

.button-ghost {

  &:hover {
    border-color: var(--grey-light);
  }
}