.chip {
    display: inline-flex;
    padding: 0.15rem 0.5rem;
    font-size: var(--font-size-xs);
    border-radius: var(--radius);
    background: var(--yellow);
    color: var(--yellow-darkest);
    align-items: center;
    justify-content: center;
}