.dialog-content {
    background-color: var(--background);
    box-shadow: var(--shadow-lg);
    padding: var(--spacing-lg);
}
.overflowHint {
    position: absolute;
    bottom:  var(--spacing-lg);
    left:  var(--spacing-lg);
    right:  var(--spacing-lg);
    height: 20px;
    background: linear-gradient(to top, var(--white) 0%, transparent 100%);
}

.overflowHint + div {
    padding-bottom: 20px;
}