.dropdownMenu-trigger {
    &:focus {
        outline: none;
    }
}

.dropdownMenu-content {
    background: var(--white) !important;
}

.dropdownMenu-item {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-base);
  font-size: var(--font-size-sm);
  color: var(--grey-dark);

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover {
  outline: 0;
    background-color: var(--grey-lightest);
  }
}
