.tooltip-content {
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size-sm);
    box-shadow: var(--shadow-md);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius);
}